@import '~bootstrap/scss/bootstrap';

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

img {
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// .image {
//   height: 250px;
//   width: 300px;
// }

.image_background {
  background-color: gray;
  height: 250px;
  width: 300px;
  border: 3px solid green;
}

.img_container {
  max-height: 250px;
  max-width: 300px;
  // background-color: gray;
  // border: 2px solid black;
  margin: 0 auto;
  position: relative;
  // border: 3px solid green;
}

.img_bar {
  height: 50px;
  width: 300px;
  border: 3px solid black;
}
